form(name="comicFilter", role="form", ng-submit="getComics()")
  div.form-group
    label(for="title") Title
    input.form-control(id="title", ng-model="filterOptions.title", placeholder="title", type="text")
  div.form-group
    label Hide Variants
      input.form-control(type="checkbox", ng-model="filterOptions.noVariants")
  div.form-group
    label(for="dateDescriptor") Time Period
    select.form-control(id="dateDescriptor", ng-model="filterOptions.dateDescriptor")
      option(value="") Date Range
      option(value="lastWeek") Last Week
      option(value="thisWeek") This Week
      option(value="nextWeek") Next Week
      option(value="thisMonth") This Month
  div.form-group
    label(for="limit") Limit Results
    input.form-control.input-sm(id="limit", ng-model="filterOptions.limit", placeholder="limit", type="number")

  button.btn.btn-primary(type="submit") {{ !comicsLoading ? 'Get Comics' : '' }}
    i.fa.fa-spin.fa-spinner(ng-if="comicsLoading")
