
div.container.comic-list
  div.row
    div.col-xs-12
      mc-comic-filter-inline
  div.row
    div.col-xs-12
      mc-list-group(items="comics", label-field="title", count-field="characterCount", thumbnail="thumb", description="description")



