
div.container

  div.row
    form.form-inline.col-xs-12(name="comicFilter", role="form", ng-submit="getComics()")
      div.form-group
        label.sr-only(for="title") title
        input.form-control(id="title", ng-model="filterOptions.title", placeholder="title", type="text")
      div.form-group
        label Hide Variants
          input(type="checkbox", ng-model="filterOptions.noVariants")
      div.form-group
        label.sr-only(for="dateDescriptor") Date Descriptor
        select(id="dateDescriptor", ng-model="filterOptions.dateDescriptor")
          option(value="") Date Range
          option(value="lastWeek") Last Week
          option(value="thisWeek") This Week
          option(value="nextWeek") Next Week
          option(value="thisMonth") This Month
      div.form-group
        label.sr-only(for="limit") limit
        input.form-control.input-sm(id="limit", ng-model="filterOptions.limit", placeholder="limit", type="number")

      button.btn.btn-default(type="submit") {{ !comicsLoading ? 'Get Comics' : '' }}
        i.fa.fa-spin.fa-spinner(ng-if="comicsLoading")

  div.row

    div.col-xs-12
      mc-list-group(items="comics", label-field="title", count-field="characterCount")



