
.navbar.navbar-inverse.navbar-fixed-top.mc-navbar
  .container
    .navbar-header
      a.navbar-brand(href="/")
        i.fa.fa-pied-piper-square.fa-2x
        span &nbsp;{{appName}}

    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-link.navbar-btn(href="/")
          i.fa.fa-list.fa-2x
      li
        a.btn.btn-link.navbar-btn(href="/split")
          i.fa.fa-columns.fa-2x
