//Vendor Scripts
script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/sass-bootstrap/dist/js/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/lodash/dist/lodash.compat.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
script(src="/vendor/restangular/dist/restangular.js")
script(src="/vendor/moment/moment.js")

//App Scripts

//Services
script(src="/services/xd-toastr.js")
script(src="/services/xd-moment.js")

script(src="/resource/comics.js")


script(src="/marvel.tpls.js")
script(src="/components/mc-navbar/mc-navbar.js")
script(src="/components/mc-list-group/mc-list-group.js")

script(src="/views/comic-list/comic-list.js")
script(src="/app.js")
script(src="/app-controller.js")
