$fa-font-path: "vendor/font-awesome/fonts"
@import "../bower_components/sass-bootstrap/lib/bootstrap"
@import "../bower_components/font-awesome/scss/font-awesome"
@import "components/mc-navbar/mc-navbar"

body
  padding-top: 70px

.toast-top-right
  top: 70px